

.ui-element__header_logo {
	position: absolute ;
	padding: 0px;
	margin: 0px;
	width: 100px;
	height: 100px;
	top: 20px;
	left: 20px;
}
.ui-element__header_logotext {
	position: absolute ;
	padding: 0px;
	margin: 10px;	
	top: 40px;
	left: 120px;
}

.ui-element__maincontent_depatmentlogo{
	padding: 10px;
	margin: 10px;	
	position: absolute;
	top: 172px;
	left: 460px;
	
}

.ui-element__header {
	margin: 0px auto;
	z-index: 3;
	height: 145px;
	background:#8080ff;
}

#dbef {
	z-index: 23;
	width: 343px;
	overflow-wrap: break-word;
	box-sizing: content-box;
	position: absolute;
	top: 30px;
	left: 172px;
}

#aefa {
	overflow: hidden;
	display: block;
	width: 343px;
}

#abee {
	z-index: 46;
	position: absolute;
	top: 11px;
	left: 30.5px;
	width: 125px;
	height: 125px;
}

#dbfd {
	width: 125px;
	height: 125px;
	display: block;
}

#dbabcecadecadbcfdeebaebacdceebeeeeeaafadefd:hover {
	display: block;
	background: url("../common/default-image.png") center center/55px 55px
		no-repeat rgb(240, 240, 240);
}

#dbabcecadecadbcfdeebaebacdceebeeeeeaafadefd.hovering {
	display: block;
	background: url("../common/default-image.png") center center/55px 55px
		no-repeat rgb(240, 240, 240);
}

#abfe {
	position: relative;
	padding: 0px;
	margin: 0px;
}

.ui-element__maincontent {
	margin: 0px auto;
	z-index: 3;
	height: 900px;
	background:#708090;
}

#dafa {
	width: 175px;
	height: 176px;
	z-index: 11;
	position: absolute;
	top: 45px;
	left: 513px;
}

#efea>div.blockgr {
	border-radius: 1000px;
	display: none
}

#efdfabbfcdeeabffcebfeefdaebdbcdbbcedfea>div.blockbg {
	border-radius: 1000px;
	background-color: rgb(243, 243, 243);
	display: none;
}

#efdfabbfcdeeabffcebfeefdaebdbcdbbcedfea {
	border-radius: 1000px;
	position: relative;
	width: 175px;
	height: 176px;
	border: 1px solid rgb(204, 204, 204);
}

#bfcc {
	z-index: 9;
	width: 280px;
	height: 34px;
	top: 485px;
	left: 460px;
	position: absolute;
}

#febc {
	position: absolute;
	width: 280px;
	height: 34px;
}

#baac {
	z-index: 13;
	width: 280px;
	height: 34px;
	top: 565px;
	left: 460px;
	position: absolute;
}

#cafa {
	position: absolute;
	width: 280px;
	height: 34px;
}

#aacf {
	width: 135px;
	height: 27px;
	z-index: 14;
	position: absolute;
	top: 562px;
	box-sizing: content-box;
	left: 533px;
}

.button {
	padding: 0 20px;
	border-size: 1px;
	height: 30px;
	line-height: 30px;
	font-family: semibold;
	font-size: 12pt;
	cursor: pointer;
	position: absolute;
	top: 630px;
	left: 550px;
	background: #ffff00;
	border-radius: 20px;
}

#caedcedacdbaedfbbdcbddaddeebfedebdd>div.blockbg {
	background-color: rgb(255, 255, 0);
	border-radius: 20px;
}

#caedcedacdbaedfbbdcbddaddeebfedebdd {
	width: 133px;
	height: 25px;
	display: flex;
	align-items: center;
	text-align: center;
	margin: 0px;
	padding: 0px;
	position: relative;
	overflow-wrap: break-word;
	box-sizing: content-box;
	z-index: 3;
	color: rgb(68, 68, 68);
	border: 1px solid rgb(111, 168, 220);
	border-radius: 20px;
	cursor: pointer;
}

.ui-element__maincontent_passwordtext {
	z-index: 19;
	position: absolute;
	box-sizing: content-box;
	top: 540px;
	left: 460px;
	width: 100px;
}

#cced {
	overflow: hidden;
	width: 100px;
	box-sizing: content-box;
	word-wrap: break-word;
}

.ui-element__maincontent_logintext {
	z-index: 17;
	position: absolute;
	box-sizing: content-box;
	top: 460px;
	left: 460px;
	width: 100px;
}

#fbfc {
	overflow: hidden;
	width: 100px;
	box-sizing: content-box;
	word-wrap: break-word;
}

.ui-element__maincontent_namedepartmenttext {
	z-index: 21;
	position: absolute;
	box-sizing: content-box;
	font-size: 15px;
	top: 430px;
	left: 524px;
	width: 152px;
}

#ccea {
	overflow: hidden;
	width: 152px;
	box-sizing: content-box;
	overflow-wrap: break-word;
	text-align: center;
}

#aefacbbcaafdcaddabeabfaaecbaadacbddecbecbb {
	position: relative;
	padding: 0px;
	margin: 0px;
}

#edeecedbabbfbbcddcdcacfabeacfacffddfcebbfb {
	margin: 0px auto;
	z-index: 3;
	height: 600px;
}

#ccafafcffbeafcdebefefbaffadfdecfaadeadcfbddad {
	width: 100px;
	height: 100px;
	z-index: 22;
	position: absolute;
	top: 33px;
	left: 37px;
}

#edaebedcafddadbbccfbfbfbfeefddfeecbbbefdbaaed>div.blockgr {
	border-radius: 1000px;
	display: none
}

#edaebedcafddadbbccfbfbfbfeefddfeecbbbefdbaaed>div.blockbg {
	border-radius: 1000px;
	background-color: rgb(243, 243, 243);
	display: none;
}

#edaebedcafddadbbccfbfbfbfeefddfeecbbbefdbaaed {;
	border-radius: 1000px;
	position: relative;
	width: 100px;
	height: 100px;
	border: 1px solid #ccc;
}

#eabcedefaeefcabffecedcdcfeecbdefbabfccbceacf {
	z-index: 24;
	position: absolute;
	box-sizing: content-box;
	top: 47px;
	left: 169.5px;
	width: 88px;
}

#ceffeeabefdccfaecccfdadabfbdbbaafdffaafffacafc {
	overflow: hidden;
	width: 88px;
	box-sizing: content-box;
	overflow-wrap: break-word;
	text-align: center;
}

#faebeedcebafeadfafcefcddbfaaedebcbecaeefeed {
	z-index: 26;
	position: absolute;
	box-sizing: content-box;
	top: 212px;
	left: 37px;
	width: 182px;
}

#deedacefdffebaaebcaabeaddddcabebeceeeeceacc {
	overflow: hidden;
	width: 182px;
	box-sizing: content-box;
	overflow-wrap: break-word;
}

#aeffceafbecbebcfafdaaafdfaefcfbfcccefdcccfaaefc {
	z-index: 29;
	position: absolute;
	box-sizing: content-box;
	top: 90px;
	left: 160.5px;
	width: 100px;
}

#bddeadbecaeabbedfedededdccdfabacfeefd {
	overflow: hidden;
	width: 100px;
	box-sizing: content-box;
	overflow-wrap: break-word;
	text-align: center;
}

#adaefcbfceafdadddefffcdabdccdadbeccfdbafdcbcdfc {
	width: 120px;
	height: 25px;
	z-index: 33;
	position: absolute;
	top: 348px;
	box-sizing: content-box;
	left: 60px;
}

#bbeaaeeafeabbdfeecaeaddedacdfddbdbdabbbefdaf>div.blockgr {
	border-radius: 20px;
	display: none;
}

#bbeaaeeafeabbdfeecaeaddedacdfddbdbdabbbefdaf>div.blockbg {
	background-color: rgb(255, 255, 0);
	border-radius: 20px;
}

#bbeaaeeafeabbdfeecaeaddedacdfddbdbdabbbefdaf {
	width: 116px;
	height: 25px;
	display: flex;
	align-items: center;
	text-align: center;
	margin: 0px;
	padding: 0px;
	position: relative;
	overflow-wrap: break-word;
	box-sizing: content-box;
	z-index: 3;
	color: rgb(68, 68, 68);
	border: 2px solid rgb(61, 133, 198);
	border-radius: 20px;
	font-family: OpenSans-Bold;
	cursor: pointer;
}

#fecdfeeaeeedfafaebbcecaddebfcebaadbeebccfbeceb {
	z-index: 41;
	position: absolute;
	box-sizing: content-box;
	top: 188px;
	left: 37px;
	width: 100px;
}

#caafaaeadacebcebcaaacadfedbabade {
	overflow: hidden;
	width: 100px;
	box-sizing: content-box;
	word-wrap: break-word;
}

#bdecbaaccffafbddefddcdbcabeeebfecbff {
	z-index: 43;
	position: absolute;
	box-sizing: content-box;
	top: 270px;
	left: 37px;
	width: 123px;
}

#eefafbefcdfeabbdfbaeaafadcaaaefdaedec {
	overflow: hidden;
	width: 123px;
	box-sizing: content-box;
	overflow-wrap: break-word;
}

#ccdbcebfdbccfccfaeaacdebcaddcbbcfaddaaca {
	z-index: 45;
	position: absolute;
	box-sizing: content-box;
	top: 295px;
	left: 37px;
	width: 184px;
}

#fedcddabbafabcafeefecdfffbacccacedbbfcbfcadff {
	overflow: hidden;
	width: 184px;
	box-sizing: content-box;
	overflow-wrap: break-word;
}

#ebdbacacffcaecdfacfffdadbdcacaaeedcf {
	width: 120px;
	height: 25px;
	z-index: 82;
	position: absolute;
	top: 518px;
	box-sizing: content-box;
	left: 540px;
}

#adecbeccfadeffdcffaeacbdfccaacfcfabdeaedc>div.blockgr {
	border-radius: 20px;
	display: none;
}

#adecbeccfadeffdcffaeacbdfccaacfcfabdeaedc>div.blockbg {
	background-color: rgb(255, 255, 0);
	border-radius: 20px;
}

#adecbeccfadeffdcffaeacbdfccaacfcfabdeaedc {
	width: 120px;
	height: 25px;
	display: flex;
	align-items: center;
	text-align: center;
	margin: 0px;
	padding: 0px;
	position: relative;
	overflow-wrap: break-word;
	box-sizing: content-box;
	z-index: 3;
	color: rgb(0, 0, 0);
	border: 2px solid rgb(0, 0, 255);
	border-radius: 20px;
	font-family: OpenSans-Bold;
	cursor: pointer;
}

#dffebabaafafbacbcbefccffaaceefceffddbd {
	position: relative;
	padding: 0px;
	margin: 0px;
}

#bfecaeaccaaabbfcfbfaffebcbaebebedfdfccbecddcbdaeabeabd {
	margin: 0px auto;
	z-index: 3;
	height: 900px;
}

#ccdfcadadfecaedfccdbaedfbaebcfcabacdfbebeb {
	z-index: 63;
	position: absolute;
	box-sizing: content-box;
	top: 230px;
	left: 450px;
}

#defdeedaaadbafccadbbecfaeefbdaefcfcd {
	box-sizing: content-box;
	word-wrap: break-word;
}

#deccfbbaaefcacbeadabaffdccbfbdccecedebdbeaadd {
	z-index: 60;
	position: absolute;
	top: 235px;
	left: 866px;
}

#bceadabceafaefbdbdafffecabcbaabffecedcbd {
	font-size: 25px;
}

#bccedbcbffcedececaceadbeffdfbeedfabeabfffdedda {
	z-index: 62;
	position: absolute;
	top: 230px;
	left: 818px;
}

#adcceadcebfafccfadbcebcbadccacfdbfaaaaeeefecc {
	font-size: 25px;
}

#cdaabdebbfeefeceefbbefdfbfbffdbfba {
	z-index: 61;
	position: absolute;
	top: 235px;
	left: 776px;
}

#faacfceeefebfbadcdfbecbecfadccdedacdabbedc {
	font-size: 25px;
}

#fbbdabfcfdbcfbeefebcbcdbaebefebcdbfebcdbe {
	z-index: 60;
	position: absolute;
	top: 276px;
	left: 866px;
}

#cabafcbfceabaadfcceefbbacdaaeeffedaaecdbafdd {
	font-size: 25px;
}

#ccadecacdbbcbaefbfeaedfbecdbeafedffefcedddfbd {
	z-index: 62;
	position: absolute;
	top: 271px;
	left: 818px;
}

#fccacdbdfeecbfccecefbcbaeeaadffaefdedac {
	font-size: 25px;
}

#afbbddffcecaeaeffffbeaadcdbaffdeabfeaaecfbfeec {
	z-index: 61;
	position: absolute;
	top: 276px;
	left: 776px;
}

#ebaebbdaaeeccabfeebecfcdafbcdcbccacacdfcdfcbb {
	font-size: 25px;
}

#afababdbcbafefbfdcceabdfafeacafafbfcacdf {
	z-index: 60;
	position: absolute;
	top: 316px;
	left: 866px;
}

#addddffdcdfefbdcddcceccecbefacfdfcdfbdbbddecacbf {
	font-size: 25px;
}

#fffceeebddbdbbaeacacedadcebaaadfbfafefdbacbd {
	z-index: 62;
	position: absolute;
	top: 311px;
	left: 818px;
}

#cdfccdcdfdcadbbbeffdfdcfbcadfbaafbdefaebaec {
	font-size: 25px;
}

#aafbabbffeedaeafdfacafdeadfedbabafdfbaacaceaddab {
	z-index: 61;
	position: absolute;
	top: 316px;
	left: 776px;
}

#fddedbcababaabbefcccafcebceceefeaaa {
	font-size: 25px;
}

#dcefbdadfcbcfbaeaacfeaeadcccfeffcebbdaceb {
	z-index: 69;
	position: absolute;
	top: 235px;
	left: 418px;
}

#ccbafadcadaebddcbefcbdcadcadaaefebda {
	font-size: 25px;
}

#cfffbbadceedbcbdadcbfebbfecdadbbbbcaceaecfffbbcedcbbf {
	z-index: 69;
	position: absolute;
	top: 272px;
	left: 418px;
}

#abaddacdccafdbcbcdbabaceecfadeacc {
	font-size: 25px;
}

#eaceacebbdafcadbddccdcfbcebcfffcdcbbcaedaaeeba {
	z-index: 69;
	position: absolute;
	top: 305px;
	left: 418px;
}

#bbaeeddaddeceaecbfeceabfbedcffbbceebbbea {
	font-size: 25px;
}

#dabebcefccbccfccccbcafedbaeedfcfbeddbbacfbbdaeafeae {
	z-index: 71;
	position: absolute;
	box-sizing: content-box;
	top: 72px;
	left: 472px;
	width: 256px;
}

#ecaefdcfaddcbdaabbedacfecaceafcdbbafffad {
	overflow: hidden;
	width: 256px;
	box-sizing: content-box;
	overflow-wrap: break-word;
	font-family: OpenSans-SemiBold;
	font-size: 30px;
	text-align: center;
	color: rgb(0, 0, 0);
}

#fbbebacbdcdeeefdddcedbbcededbacbfccd {
	width: 132px;
	height: 24px;
	z-index: 74;
	position: absolute;
	top: 236px;
	box-sizing: content-box;
	left: 910px;
}

#dfeebfbabbbedcedbaabececeedfccddadbcc>div.blockgr {
	border-radius: 20px;
	display: none;
}

#dfeebfbabbbedcedbaabececeedfccddadbcc>div.blockbg {
	background-color: rgb(255, 255, 0);
	border-radius: 20px;
}

#dfeebfbabbbedcedbaabececeedfccddadbcc {
	width: 130px;
	height: 22px;
	display: flex;
	align-items: center;
	text-align: center;
	margin: 0px;
	padding: 0px;
	position: relative;
	overflow-wrap: break-word;
	box-sizing: content-box;
	z-index: 3;
	color: rgb(68, 68, 68);
	border: 2px solid rgb(61, 133, 198);
	border-radius: 20px;
	font-size: 12px;
	font-family: OpenSans-SemiBold;
	cursor: pointer;
}

#adafcaeaddcfcdcbabeabeffcaeefaebeccccbef {
	width: 120px;
	height: 25px;
	z-index: 87;
	position: absolute;
	top: 835px;
	box-sizing: content-box;
	left: 540px;
}

#aaecdaccabbfceadcbacbecdbcfeadccabbcefcbeaddbfffb>div.blockgr {
	border-radius: 20px;
	display: none;
}

#aaecdaccabbfceadcbacbecdbcfeadccabbcefcbeaddbfffb>div.blockbg {
	background-color: rgb(255, 255, 0);
	border-radius: 20px;
}

#aaecdaccabbfceadcbacbecdbcfeadccabbcefcbeaddbfffb {
	width: 120px;
	height: 25px;
	display: flex;
	align-items: center;
	text-align: center;
	margin: 0px;
	padding: 0px;
	position: relative;
	overflow-wrap: break-word;
	box-sizing: content-box;
	z-index: 3;
	color: rgb(0, 0, 0);
	border: 2px solid rgb(0, 0, 255);
	border-radius: 20px;
	font-family: OpenSans-Bold;
	cursor: pointer;
}

#adabcdadeedeabacfcecfdfcdefbeeeaccadbfaabc {
	width: 120px;
	height: 25px;
	z-index: 88;
	position: absolute;
	top: 774px;
	box-sizing: content-box;
	left: 540px;
}

#cbbbeaaedeafceebcdabbecdbebfcfebdfbabacaeef>div.blockgr {
	border-radius: 20px;
	display: none;
}

#cbbbeaaedeafceebcdabbecdbebfcfebdfbabacaeef>div.blockbg {
	background-color: rgb(255, 255, 0);
	border-radius: 20px;
}

#cbbbeaaedeafceebcdabbecdbebfcfebdfbabacaeef {
	width: 120px;
	height: 25px;
	display: flex;
	align-items: center;
	text-align: center;
	margin: 0px;
	padding: 0px;
	position: relative;
	overflow-wrap: break-word;
	box-sizing: content-box;
	z-index: 3;
	color: rgb(0, 0, 0);
	border: 2px solid rgb(0, 0, 255);
	border-radius: 20px;
	font-family: OpenSans-Bold;
	cursor: pointer;
}

#efedbfacbdcdedfdcfaeabbcccebaeeebfbecdfcccfdbcdccfbeb {
	width: 132px;
	height: 24px;
	z-index: 90;
	position: absolute;
	top: 276px;
	box-sizing: content-box;
	left: 910px;
}

#bfaebfabacccecfcebfefcfbfbddfddcfdbaab>div.blockgr {
	border-radius: 20px;
	display: none;
}

#bfaebfabacccecfcebfefcfbfbddfddcfdbaab>div.blockbg {
	background-color: rgb(255, 255, 0);
	border-radius: 20px;
}

#bfaebfabacccecfcebfefcfbfbddfddcfdbaab {
	width: 130px;
	height: 22px;
	display: flex;
	align-items: center;
	text-align: center;
	margin: 0px;
	padding: 0px;
	position: relative;
	overflow-wrap: break-word;
	box-sizing: content-box;
	z-index: 3;
	color: rgb(68, 68, 68);
	border: 2px solid rgb(61, 133, 198);
	border-radius: 20px;
	font-size: 12px;
	font-family: OpenSans-SemiBold;
	cursor: pointer;
}

#affeafbecebbefbfcbcdcccdeacbbcdaebffaddbfefcca {
	width: 132px;
	height: 24px;
	z-index: 91;
	position: absolute;
	top: 317px;
	box-sizing: content-box;
	left: 910px;
}

#cacfcabdbccacbdafbfedfeadbcdbcbdefbceffdcbcaa>div.blockgr {
	border-radius: 20px;
	display: none;
}

#cacfcabdbccacbdafbfedfeadbcdbcbdefbceffdcbcaa>div.blockbg {
	background-color: rgb(255, 255, 0);
	border-radius: 20px;
}

#cacfcabdbccacbdafbfedfeadbcdbcbdefbceffdcbcaa {
	width: 130px;
	height: 22px;
	display: flex;
	align-items: center;
	text-align: center;
	margin: 0px;
	padding: 0px;
	position: relative;
	overflow-wrap: break-word;
	box-sizing: content-box;
	z-index: 3;
	color: rgb(68, 68, 68);
	border: 2px solid rgb(61, 133, 198);
	border-radius: 20px;
	font-size: 12px;
	font-family: OpenSans-SemiBold;
	cursor: pointer;
}

#adebbcbeaaacdbbdaadafcecabdeabefcfbbdebaceceaeea {
	position: relative;
	padding: 0px;
	margin: 0px;
}

#edadcabddcefaecbebabdffdaffdedecaebcdacced {
	margin: 0px auto;
	z-index: 3;
	height: 900px;
}

#afcbddbfafcfeaeffffdbfaecbbacccebbc {
	z-index: 75;
	position: absolute;
	box-sizing: content-box;
	top: 64px;
	left: 488px;
	width: 224px;
}

#afbcfffdcffaabbbaecffdbfdbfabaeabeffceb {
	overflow: hidden;
	width: 224px;
	box-sizing: content-box;
	overflow-wrap: break-word;
	font-size: 30px;
	font-family: OpenSans-SemiBold;
	text-align: center;
}

#ffccedeeaaacaeeefbbafeafbadadcddcbed {
	z-index: 76;
	position: absolute;
	box-sizing: content-box;
	top: 160px;
	left: 450px;
}

#afceebeefcbfddbdfeaafdcaffffeafcdcdc {
	box-sizing: content-box;
	word-wrap: break-word;
}

#efbddbfddedbdebdfcaaeaadcefebafbcfcbfdcfadebacbdcba {
	z-index: 79;
	position: absolute;
	top: 201px;
	left: 869px;
}

#dcffaeacdcbcdadfbdbcaadccebeaeafafafabb {
	font-size: 25px;
}

#adadceeddcdcaafbbcadceacaddffffdccfdcb {
	z-index: 79;
	position: absolute;
	top: 201px;
	left: 821px;
	width: 25px;
	height: 29px;
}

#afefebaddeacafcbcceccbbbdfcbcceddebafacacdaabda {
	font-size: 25px;
}

#cbdacbdcfaadcfbaeaecfeaebaeebbf {
	z-index: 79;
	position: absolute;
	top: 201px;
	left: 779px;
}

#bccfadffabeddfaaacfabfdcdd {
	font-size: 25px;
}

#ecbadabeebeecdaceccacffcdbbfcfdcfefaace {
	width: 120px;
	height: 25px;
	z-index: 89;
	position: absolute;
	top: 836px;
	box-sizing: content-box;
	left: 540px;
}

#ecceeadefcabcdeebccbbffeddbcabbfcddabff>div.blockgr {
	border-radius: 20px;
	display: none;
}

#ecceeadefcabcdeebccbbffeddbcabbfcddabff>div.blockbg {
	background-color: rgb(255, 255, 0);
	border-radius: 20px;
}

#ecceeadefcabcdeebccbbffeddbcabbfcddabff {
	width: 120px;
	height: 25px;
	display: flex;
	align-items: center;
	text-align: center;
	margin: 0px;
	padding: 0px;
	position: relative;
	overflow-wrap: break-word;
	box-sizing: content-box;
	z-index: 3;
	color: rgb(0, 0, 0);
	border: 2px solid rgb(0, 0, 255);
	border-radius: 20px;
	font-family: OpenSans-Bold;
	cursor: pointer;
}

#ddbbecbfabeddfababecaecceeadcddeedadcfdec {
	width: 120px;
	height: 25px;
	z-index: 89;
	position: absolute;
	top: 775px;
	box-sizing: content-box;
	left: 540px;
}

#dfcabbcfcebabfacdacccebcecbcdbdfeebfd>div.blockgr {
	border-radius: 20px;
	display: none;
}

#dfcabbcfcebabfacdacccebcecbcdbdfeebfd>div.blockbg {
	background-color: rgb(255, 255, 0);
	border-radius: 20px;
}

#dfcabbcfcebabfacdacccebcecbcdbdfeebfd {
	width: 120px;
	height: 25px;
	display: flex;
	align-items: center;
	text-align: center;
	margin: 0px;
	padding: 0px;
	position: relative;
	overflow-wrap: break-word;
	box-sizing: content-box;
	z-index: 3;
	color: rgb(0, 0, 0);
	border: 2px solid rgb(0, 0, 255);
	border-radius: 20px;
	font-family: OpenSans-Bold;
	cursor: pointer;
}

#ecdbdaefbefdfceabffacecdfaaabdcaeb {
	position: relative;
	padding: 0px;
	margin: 0px;
}

#ebebdcbbcddfaadfcfbccdcedbaabcdbaccfbeebd {
	margin: 0px auto;
	z-index: 3;
	height: 160px;
}

#aebbcebafdffabfdaceeeddacfdfbcdfedcbffcceacbcff {
	z-index: 47;
	position: absolute;
	top: 60px;
	left: 373.5px;
}

#afcdfcececaeccdbcfddfbfecacaceeaababcccbfcceaea {
	font-size: 30px;
}

#caceeffdabbfcaabdcbbbdaedcbecdfaafaeffbaafda {
	z-index: 49;
	position: absolute;
	top: 58px;
	left: 581.5px;
}

#baecfeabfaabecbaabdbcdeabdafcdfcbdcb {
	font-size: 30px;
}

#eeeccaebeccddccbcafaaebceefbfedcdfdebcdeffc {
	z-index: 50;
	position: absolute;
	top: 59px;
	left: 14.5px;
}

#bbebfacadfdbfdeeffefaddfeadcfbecdadacdadfdbcf {
	font-size: 30px;
}

#bcfbfadcdbcadbbfafddfeedeedeffbffadffbccb {
	z-index: 51;
	position: absolute;
	box-sizing: content-box;
	top: 64px;
	left: 50.5px;
	width: 135px;
}

#bdddcfdabfefbeabefcaadbfbadbddedfabbfcbcfa {
	overflow: hidden;
	width: 135px;
	box-sizing: content-box;
	overflow-wrap: break-word;
}

#ceccccdddddccaeeffbceadaefcffbbddcc {
	z-index: 48;
	position: absolute;
	top: 59px;
	left: 841.5px;
}

#aeeaefcdabaefebacfbccdaededbeceaafcdbbcc {
	font-size: 30px;
}

#feaabbdeaaaafcdbfdafaaaacbedcbeffdbadec {
	z-index: 52;
	position: absolute;
	box-sizing: content-box;
	top: 64px;
	left: 199px;
	width: 166px;
}

#adcccacdadfdddbfdbdadeebddcaebeedabccdc {
	overflow: hidden;
	width: 166px;
	box-sizing: content-box;
	overflow-wrap: break-word;
	text-align: center;
}

#affbacdcbabffeeffdfbfaabbccdeedbdedcabaecccdbc {
	z-index: 53;
	position: absolute;
	box-sizing: content-box;
	top: 65px;
	left: 412.5px;
	width: 151px;
}

#fcefabcbedbcebcddcfebfbfbbbebfbbfaa {
	overflow: hidden;
	width: 151px;
	box-sizing: content-box;
	overflow-wrap: break-word;
}

#aeaafcaddceffdffbedcabbdfccffefacbfdade {
	z-index: 54;
	position: absolute;
	box-sizing: content-box;
	top: 64px;
	left: 625px;
	width: 157px;
}

#bcaddfebcddacacfcdcadadbbdeebafec {
	overflow: hidden;
	width: 157px;
	box-sizing: content-box;
	overflow-wrap: break-word;
}

#cbfcddcadaafebecaafabfdcbecddbedffcbefdfbecadd {
	z-index: 55;
	position: absolute;
	box-sizing: content-box;
	top: 64px;
	left: 881.5px;
	width: 225px;
}

#bcaaeecfcbfdcfbdfcfccabcbcfabededefdaffdcaebbd {
	overflow: hidden;
	width: 225px;
	box-sizing: content-box;
	overflow-wrap: break-word;
}

#techContainer {
	height: 700px;
}

#masterContainer {
	height: 700px;
}