html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}

.ui-element__header_logo {
	position: absolute;
	padding: 0px;
	margin: 0px;
	width: 80px;
	height: 80px;
	top: 5px;
	left: 590px;
	border-radius: 30px;
}

#centeredmenu {
	position: absolute;
	top: 140px;
	float: left;
	width: 100%;
	background: #e1de59;
	border-bottom: 4px solid #000;
	overflow: hidden;
	position: relative;
}

#centeredmenu ul {
	clear: left;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	left: 50%;
	text-align: center;
}

#centeredmenu ul li {
	display: block;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	right: 50%;
}

#centeredmenu ul li a {
	display: block;
	margin: 0 0 0 10px;
	padding: 3px 10px;
	background: #76ef7c;
	color: #000;
	text-decoration: none;
	line-height: 1.3em;
}

#centeredmenu ul li a:hover {
	background: #369;
	color: #fff;
}

#centeredmenu ul li a.active, #centeredmenu ul li a.active:hover {
	color: #fff;
	background: #c0c0c0;
	font-weight: bold;
}

.ui-element__header_logotext {
	position: absolute;
	padding: 0px;
	margin: 10px;
	top: 85px;
	left: 490px;
	background: #dddddd;
	font-size: 28px;
	border-radius: 5px;
}

.ui-element__maincontent_depatmentlogo {
	width: 200px;
	height: 200px;
	border-radius: 10px;
	padding: 0px;
	margin: 0px;
	position: absolute;
	top: 175px;
	left: 538px;
}

.ui-element__maincontent2_userphoto {
	width: 150px;
	height: 150px;
	padding: 10px;
	margin: 10px;
	position: absolute;
	top: 172px;
	left: 30px;
}

.ui-element__maincontent2_userfirstname {
	padding: 10px;
	margin: 10px;
	position: absolute;
	top: 170px;
	left: 200px;
	font-family: semibold;
	font-size: 20pt;
}

.ui-element__maincontent2_usersurname {
	padding: 10px;
	margin: 10px;
	position: absolute;
	top: 200px;
	left: 200px;
	font-family: semibold;
	font-size: 20pt;
}

.ui-element__maincontent2_userposition {
	padding: 10px;
	margin: 10px;
	position: absolute;
	top: 250px;
	left: 200px;
	font-family: semibold;
	font-size: 20pt;
	color: #ff0000;
}

.form__page2_varworkareatext {
	position: absolute;
	top: 400px;
	left: 25px;
	font-family: semibold;
	font-size: 15pt;
	color: #000040;
}

.form__page2_varworkarea {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 15px;
	font-weight: 400;
	background: #80ffff;
	width: 30%;
	padding: 5px;
	margin-bottom: 5px;
	border: 3px solid #ebe6e2;
	border-radius: 5px;
	position: absolute;
	top: 450px;
	left: 20px;
	transition: all 0.3s erase-out;
}

.form__page2_vardoctext {
	position: absolute;
	top: 400px;
	left: 450px;
	font-family: semibold;
	font-size: 15pt;
	color: #000040;
}

.form__page2_vardocument {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 15px;
	font-weight: 400;
	background: #80ffff;
	width: 30%;
	padding: 5px;
	margin-bottom: 5px;
	border: 3px solid #ebe6e2;
	border-radius: 5px;
	position: absolute;
	top: 450px;
	left: 440px;
	transition: all 0.3s erase-out;
}

.recievebutton {
	position: absolute;
	top: 445px;
	left: 900px;
	font-weight: 700;
	color: black;
	text-decoration: none;
	padding: .8em 1em calc(.8em + 3px);
	border-radius: 3px;
	background: #80ffff;
	box-shadow: 0 -3px white inset;
	transition: 0.3s;
}

.recievebutton:hover {
	background: #80ff00;
}

.recievebutton:active {
	background: #80ff00;
	box-shadow: 0 3px rgb(33, 147, 90) inset;
}

.ui-element__header {
	height: 160px;
	width: 100%;
	max-width: 1470px;
	margin: 0 auto;
}

.ui-element__maincontent {
	padding: 0px;
	margin: 0 auto;
	height: 765px;
}

.ui-element__maincontent_passwordtext {
	position: absolute;
	box-sizing: content-box;
	top: 540px;
	left: 495px;
	width: 100px;
}

.ui-element__maincontent_logintext {
	position: absolute;
	box-sizing: content-box;
	top: 460px;
	left: 495px;
	width: 100px;
}

.ui-element__maincontent_namedepartmenttext {
	position: absolute;
	font-size: 17px;
	top: 370px;
	left: 560px;
	width: 152px;
	font-weight: bold;
}

.ui-element__form_login {
	position: absolute;
	box-sizing: content-box;
	top: 500px;
	left: 490px;
	width: 200px;
	text-align: center;
	border-size: 2px;
	border-radius: 20px;
	cursor: pointer;
	height: 20px;
}

.ui-element__form_password {
	position: absolute;
	box-sizing: content-box;
	top: 580px;
	left: 490px;
	width: 200px;
	text-align: center;
	border-size: 2px;
	border-radius: 20px;
	height: 20px;
}

.form-2 {
	/* Size and position */
	width: 370px;
	height: 300px;
	margin: 60px auto 30px;
	padding: 15px;
	position: absolute;
	top: 380px;
	left: 450px;
	/* Styles */
	background: #fffaf6;
	border-radius: 4px;
	color: #7e7975;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 1px 5px rgba(0, 0, 0, 0.2),
		0 0 0 12px rgba(255, 255, 255, 0.4);
}

.form-2 h1 {
	font-size: 15px;
	font-weight: bold;
	color: #bdb5aa;
	padding-bottom: 8px;
	border-bottom: 1px solid #EBE6E2;
	text-shadow: 0 2px 0 rgba(255, 255, 255, 0.8);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.form-2 h1 .log-in, .form-2 h1 .sign-up {
	display: inline-block;
	text-transform: uppercase;
}

.form-2 h1 .log-in {
	color: #6c6763;
	padding-right: 2px;
}

.form-2 h1 .sign-up {
	color: #ffb347;
	padding-left: 2px;
}

.form-2 .float {
	width: 50%;
	float: left;
	padding-top: 5px;
	border-top: 1px solid rgba(255, 255, 255, 1);
}

.form-2 .float:first-of-type {
	padding-right: 5px;
}

.form-2 .float:last-of-type {
	padding-left: 5px;
}

.form-2 label {
	display: block;
	padding: 0 0 5px 2px;
	cursor: pointer;
	text-transform: none;
	font-weight: 300;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	font-size: 18px;
}

.form-2 label i {
	margin-right: 5px; /* Gap between icon and text */
	display: inline-block;
	width: 10px;
}

.form-2 input[type=text], .form-2 input[type=password] {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	display: block;
	width: 100%;
	padding: 5px;
	margin-bottom: 5px;
	border: 3px solid #ebe6e2;
	border-radius: 5px;
	transition: all 0.3s erase-out;
}

.form-2 input[type=text]:hover, .form-2 input[type=password]:hover {
	border-color: #CCC;
}

.form-2 label:hover ~ input {
	border-color: #CCC;
}

.form-2 input[type=text]:focus, .form-2 input[type=password]:focus {
	border-color: #BBB;
	outline: none; /* Remove Chrome's outline */
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.form-2 input[type=submit], .form-2 .log-twitter {
	/* Size and position */
	width: 40%;
	height: 38px;
	float: left;
	position: absolute;
	top: 280px;
	left: 210px;
	/* Styles */
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.3);
	border-radius: 3px;
	cursor: pointer;
	/* Font styles */
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 14px;
	line-height: 38px; /* Same as height */
	text-align: center;
	font-weight: bold;
}

.form-2 input[type=submit], .form-2 .log-signin {
	/* Size and position */
	width: 40%;
	height: 38px;
	float: left;
	position: absolute;
	top: 280px;
	left: 20px;
	/* Styles */
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.3);
	border-radius: 3px;
	cursor: pointer;
	/* Font styles */
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 14px;
	line-height: 38px; /* Same as height */
	text-align: center;
	font-weight: bold;
}

.form-2 input[type=submit] {
	margin-left: 1%;
	background: linear-gradient(#fbd568, #ffb347);
	border: 1px solid #f4ab4c;
	color: #996319;
	text-shadow: 0 1px rgba(255, 255, 255, 0.3);
}

.form-2 .log-twitter {
	margin-right: 1%;
	background: #ffb347;
	border: 1px solid #2b8bc7;
	color: #ffffff;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
	text-decoration: none;
}

.form-2 .log-signin {
	margin-right: 1%;
	background: linear-gradient(#34a5cf, #2a8ac4);
	border: 1px solid #2b8bc7;
	color: #ffffff;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
	text-decoration: none;
}

.wrapper {
	min-height: 100%;
	margin-bottom: -100px;
}

.footer .pusher {
	height: 100px;
}

.footer {
	background: #444444;
	line-height: 100px; padding : 0 10px;
	font-weight: bold;
	padding: 0 10px;
}

.end {
	clear: both;
}